@model Proyecto_Hoteleria.Models.EditarClienteVM
@{
    ViewBag.Title = "Cliente";
    Layout = null;
}

<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        @using (@Html.BeginForm("Editar", "Cliente", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmEditCliente" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Item.IdCliente)
                            <div class="form-group form-material">
                                @Html.Label("Tipo Doc", "Tipo Doc", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @*@Html.EditorFor(model => model.Item.IdTipoDocumento, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.Item.IdTipoDocumento, Model.TipoDocumento, new { @class = "form-control" })
                                </div>

                                @Html.Label("DNI", "DNI", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.descTipoDoc, new { htmlAttributes = new { @class = "form-control", @placeholder = "DNI", @maxlength = "500", @onkeypress = "return soloNumeros(event)", @onpaste = "return false" } })
                                </div>
                                
                            </div>

                            <div class="form-group form-material">
                                @Html.Label("Nombres", "Nombres", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.Nombres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres", @maxlength = "500", @onkeypress = "return soloLetras(event)", @onpaste = "return false" } })
                                </div>

                                @Html.Label("ApePaterno", "Ape. Paterno", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.ApePaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno", @maxlength = "500", @onkeypress = "return soloLetras(event)", @onpaste = "return false" } })
                                </div>
                                    
                            </div>

                            <div class="form-group form-material">
                                @Html.Label("ApeMaterno", "Ape. Materno", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.ApeMaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno", @maxlength = "500", @onkeypress = "return soloLetras(event)", @onpaste = "return false" } })
                                </div>

                                @Html.Label("Sexo", "Sexo", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @*@Html.EditorFor(model => model.Item.IdTipoSexo, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownListFor(model => model.Item.IdTipoSexo, Model.TipoSexo, new { @class = "form-control" })
                                </div>
                                    
                            </div>

                            <div class="form-group form-material">
                                @Html.Label("Telefono", "Teléfono", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.Telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono", @maxlength = "10", @onkeypress = "return soloNumeros(event)", @onpaste = "return false" } })
                                </div>

                                @Html.Label("Direccion", "Dirección", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Item.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "500", @onkeypress = "return soloLetras(event)", @onpaste = "return false" } })
                                </div>
                                    
                            </div>

                            <div class="form-group form-material">
                                @Html.Label("TipoCliente", "Tipo Cliente", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @*@Html.EditorFor(model => model.Item.IdTipoCliente, new { htmlAttributes = new { @class = "form-control"} })*@
                                    @Html.DropDownListFor(model => model.Item.IdTipoCliente, Model.TipoCliente, new { @class = "form-control" })
                                </div>

                                @Html.Label("TipoResidencia", "TipoResidencia", htmlAttributes: new { @class = "control-label col-sm-2" })
                                <div class="col-sm-4">
                                    @*@Html.EditorFor(model => model.Item.IdTipoResidencia, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.Item.IdTipoResidencia, Model.TipoResidencia, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group form-material">
                                <div class="col-sm-9 col-sm-offset-4">
                                    <button type="submit" id="btnGrabar" class="btn btn-primary" onclick="return grabar();">Save </button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        iniciarEditar();
    })();
</script>
