<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Hotelería</title>
    
    <!-- Stylesheets -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-extend.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/assets/css/site.min.css">*@
    <!-- Plugins -->
    @*<link rel="stylesheet" href="~/Content/Base/vendor/animsition/animsition.css">*@
    <link href="~/Content/vendor/animsition/animsition.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/Base/vendor/asscrollable/asScrollable.css">*@
    <link href="~/Content/vendor/asscrollable/asScrollable.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/Base/vendor/switchery/switchery.css">*@
    <link href="~/Content/vendor/switchery/switchery.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/Base/vendor/intro-js/introjs.css">*@
    <link href="~/Content/vendor/intro-js/introjs.css" rel="stylesheet" />
    @*<link href="~/Content/Base/vendor/slidepanel/slidePanel.css" rel="stylesheet">*@
    <link href="~/Content/vendor/slidepanel/slidePanel.css" rel="stylesheet" />
    @*<link href="~/Content/Base/vendor/waves/waves.css" rel="stylesheet">*@
    <link href="~/Content/vendor/waves/waves.css" rel="stylesheet" />
    @*<link href="~/Content/Base/vendor/jvectormap/jquery-jvectormap.css" rel="stylesheet">*@
    <link href="~/Content/vendor/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    @*<link href="~/Content/assets/examples/css/dashboard/v1.css" rel="stylesheet">*@
    <link href="~/Content/css/v1.css" rel="stylesheet" />
    <!-- Fonts -->
    @*<link href="~/Content/fonts/material-design/material-design.min.css" rel="stylesheet" />*@
    <link href="~/Content/material-design/material-design.min.css" rel="stylesheet" />

    @*<script src="~/Content/Base/vendor/modernizr/modernizr.js"></script>*@
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
    @*<script src="~/Content/Base/vendor/breakpoints/breakpoints.js"></script>*@

    <script src="~/Content/vendor/breakpoints/breakpoints.js"></script>
    <script>
  Breakpoints();
    </script>
    @*<script src="~/Content/Base/vendor/jquery/jquery.js"></script>*@
    <script src="~/Content/vendor/jquery/jquery.js"></script>
</head>
<body class="dashboard">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
            </div>
            <div class="navbar-collapse collapse">
               
            </div>
        </div>
    </div>

    <div class="site-menubar">
        <div class="site-menubar-header cover">
            <div class="cover-background vertical-align" style="background-image: url('../../Content/images/menubar-header.jpg')">
                <div class="vertical-align-middle">
                    <a class="avatar avatar-lg " href="javascript:void(0)">
                        <img src="~/Content/portraits/17.jpg" />
                    </a>
                    <div class="site-menubar-info col-sm-8">

                        <h5 class="site-menubar-user" style="color:coral">Almendra Garro</h5>
                        <p class="site-menubar-email" style="color:blueviolet">almendra.garro@gmail.com</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-item active">
                            <a href="@Url.Action("Notificacion","ReservaHabitacion")">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Notificaciones Reserva</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                        </li>
                        <li class="site-menu-item active">
                            <a href="@Url.Action("Index","ReservaHabitacion")">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Reserva de Habitación</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                        </li>
                        <li class="site-menu-item active">
                            <a href="@Url.Action("Index","Cliente")">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestión de Cliente</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                        </li>
                        <li class="site-menu-item active">
                            <a href="@Url.Action("Index","Habitacion")">
                                <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestión de Habitación</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Page -->
    @RenderBody()
    <!-- End Page -->
    <!-- Footer -->
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>



    </footer>
    <!-- Core  -->
    <script src="~/Scripts/genericos/jquery.numeric.js"></script>
    @*<script src="~/Content/Base/vendor/bootstrap/bootstrap.js"></script>*@
    <script src="~/Content/vendor/bootstrap/bootstrap.js"></script>
    @*<script src="~/Content/Base/vendor/animsition/animsition.js"></script>*@
    <script src="~/Content/vendor/animsition/animsition.js"></script>
    @*<script src="~/Content/Base/vendor/asscroll/jquery-asScroll.js"></script>*@
    <script src="~/Content/vendor/asscroll/jquery-asScroll.js"></script>
    @*<script src="~/Content/Base/vendor/mousewheel/jquery.mousewheel.js"></script>*@
    <script src="~/Content/vendor/mousewheel/jquery.mousewheel.js"></script>
    @*<script src="~/Content/Base/vendor/asscrollable/jquery.asScrollable.all.js"></script>*@
    <script src="~/Content/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    @*<script src="~/Content/Base/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>*@
    <script src="~/Content/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    @*<script src="~/Content/Base/vendor/waves/waves.js"></script>*@
    <script src="~/Content/vendor/waves/waves.js"></script>
    <!-- Plugins -->
    @*<script src="~/Content/Base/vendor/switchery/switchery.min.js"></script>*@
    <script src="~/Content/vendor/switchery/switchery.min.js"></script>
    @*<script src="~/Content/Base/vendor/intro-js/intro.js"></script>*@
    <script src="~/Content/vendor/intro-js/intro.js"></script>
    @*<script src="~/Content/Base/vendor/screenfull/screenfull.js"></script>*@
    <script src="~/Content/vendor/screenfull/screenfull.js"></script>
    @*<script src="~/Content/Base/vendor/slidepanel/jquery-slidePanel.js"></script>*@
    <script src="~/Content/vendor/slidepanel/jquery-slidePanel.js"></script>
    @*<script src="~/Content/Base/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>*@
    @*<script src="~/Content/Base/vendor/jvectormap/jquery-jvectormap.min.js"></script>*@
    <script src="~/Content/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    @*<script src="~/Content/Base/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>*@
    <script src="~/Content/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    @*<script src="~/Content/Base/vendor/matchheight/jquery.matchHeight-min.js"></script>*@
    <script src="~/Content/vendor/matchheight/jquery.matchHeight-min.js"></script>
    @*<script src="~/Content/Base/vendor/peity/jquery.peity.min.js"></script>*@
    <script src="~/Content/vendor/peity/jquery.peity.min.js"></script>
    <!-- Scripts -->
    @*<script src="~/Content/Base/js/core.js"></script>*@
    <script src="~/Content/js/core.js"></script>
    @*<script src="~/Content/assets/js/site.js"></script>*@
    <script src="~/Content/js/site.js"></script>
    @*<script src="~/Content/assets/js/sections/menu.js"></script>*@
    <script src="~/Content/js/sections/menu.js"></script>
    @*<script src="~/Content/assets/js/sections/menubar.js"></script>*@
    <script src="~/Content/js/sections/menubar.js"></script>
    @*<script src="~/Content/assets/js/sections/sidebar.js"></script>*@
    <script src="~/Content/js/sections/sidebar.js"></script>
    @*<script src="~/Content/Base/js/configs/config-colors.js"></script>*@
    <script src="~/Content/js/configs/config-colors.js"></script>
    @*<script src="~/Content/assets/js/configs/config-tour.js"></script>*@
    <script src="~/Content/js/configs/config-tour.js"></script>
    @*<script src="~/Content/Base/js/components/asscrollable.js"></script>*@
    <script src="~/Content/js/components/asscrollable.js"></script>
    @*<script src="~/Content/Base/js/components/animsition.js"></script>*@
    <script src="~/Content/js/components/animsition.js"></script>
    @*<script src="~/Content/Base/js/components/slidepanel.js"></script>*@
    <script src="~/Content/js/components/slidepanel.js"></script>
    @*<script src="~/Content/Base/js/components/switchery.js"></script>*@
    <script src="~/Content/js/components/switchery.js"></script>
    @*<script src="~/Content/Base/js/components/tabs.js"></script>*@
    <script src="~/Content/js/components/tabs.js"></script>
    @*<script src="~/Content/Base/js/components/matchheight.js"></script>*@
    <script src="~/Content/js/components/matchheight.js"></script>
    @*<script src="~/Content/Base/js/components/jvectormap.js"></script>*@
    <script src="~/Content/js/components/jvectormap.js"></script>
    @*<script src="~/Content/Base/js/components/peity.js"></script>*@
    <script src="~/Content/js/components/peity.js"></script>
    @*<script src="~/Content/assets/examples/js/dashboard/v1.js"></script>*@
    <script src="~/Content/js/dashboard/v1.js"></script>



</body>
</html>
